<a href="https://colab.research.google.com/github/shirley-muiruri/group-10-assignment/blob/main/pandas_series_and_dataframe_TURNSTILE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#reading the data
df = pd.read_csv('turnstile_180901.txt')
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384
...,...,...,...,...,...,...,...,...,...,...,...
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197625 entries, 0 to 197624
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   C/A                                                                   197625 non-null  object
 1   UNIT                                                                  197625 non-null  object
 2   SCP                                                                   197625 non-null  object
 3   STATION                                                               197625 non-null  object
 4   LINENAME                                                              197625 non-null  object
 5   DIVISION                                                              197625 non-null  object
 6   DATE                                                                  197625 non-null  object
 7   TIME                                                                  197625 non-null  object
 8   DESC                                                                  197625 non-null  object
 9   ENTRIES                                                               197625 non-null  int64
 10  EXITS                                                                 197625 non-null  int64
dtypes: int64(2), object(9)
memory usage: 16.6+ MB

In [4]:
#using .map() to transform values
#accessing the division column
df['DIVISION'].value_counts()

DIVISION
IRT    72198
IND    69274
BMT    41727
PTH    12788
SRT     1386
RIT      252
Name: count, dtype: int64

In [5]:
#to represent additional info as a dictionary
#abbreviations are keys
#full names are values
division_mapping = {"IRT": "Interborough Rapid Transit Company",
    "IND": "Independent Subway System",
    "BMT": "Brooklyn–Manhattan Transit Corporation",
    "PTH": "Port Authority Trans-Hudson (PATH)",
    "SRT": "Staten Island Rapid Transit",
    "RIT": "Roosevelt Island Tram"}

In [6]:
#to return a series with the abbreviations transformed into full names
df['DIVISION']= df['DIVISION'].map(division_mapping)
df["DIVISION"]

0         Brooklyn–Manhattan Transit Corporation
1         Brooklyn–Manhattan Transit Corporation
2         Brooklyn–Manhattan Transit Corporation
3         Brooklyn–Manhattan Transit Corporation
4         Brooklyn–Manhattan Transit Corporation
                           ...
197620                     Roosevelt Island Tram
197621                     Roosevelt Island Tram
197622                     Roosevelt Island Tram
197623                     Roosevelt Island Tram
197624                     Roosevelt Island Tram
Name: DIVISION, Length: 197625, dtype: object

In [7]:
#replacing the division column with the new transformed values
df['DIVISION'].value_counts()

DIVISION
Interborough Rapid Transit Company        72198
Independent Subway System                 69274
Brooklyn–Manhattan Transit Corporation    41727
Port Authority Trans-Hudson (PATH)        12788
Staten Island Rapid Transit                1386
Roosevelt Island Tram                       252
Name: count, dtype: int64

##PASSING IN A FUNCTION

In [14]:
#re-reading the data
df = pd.read_csv('turnstile_180901.txt')
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384
...,...,...,...,...,...,...,...,...,...,...,...
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348

In [9]:
#accessing the LINENAME column
df['LINENAME'].value_counts()

LINENAME
1        24092
6        11263
7         9562
F         7146
25        6881
         ...
LG         210
2          210
ND         209
S2345      168
23ACE      168
Name: count, Length: 113, dtype: int64

In [10]:
# define a function that takes in a string
# returns True if that string contains the letter 'N', and returns False otherwise
def contains_n(LINENAME):
    if 'N' in LINENAME:
        return True
    else:
        return False
        contains_n("LINENAME")

In [11]:
#shorter code
def contains_n(LINENAME):
    return 'N' in LINENAME
    contains_n("LINENAME")

In [12]:
#using .map() pass in the function
df['LINENAME'] = df['LINENAME'].map(contains_n)
df['LINENAME']

0          True
1          True
2          True
3          True
4          True
          ...
197620    False
197621    False
197622    False
197623    False
197624    False
Name: LINENAME, Length: 197625, dtype: bool

In [16]:
#using .apply()method
df['LINENAME'].apply(contains_n)

0          True
1          True
2          True
3          True
4          True
          ...
197620    False
197621    False
197622    False
197623    False
197624    False
Name: LINENAME, Length: 197625, dtype: bool

In [15]:
#Creating a new column
#representing the results
df['On_N_Line'] = df['LINENAME'].map(contains_n)
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,True
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,True
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,True
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,True
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,True
...,...,...,...,...,...,...,...,...,...,...,...,...
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348,False
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348,False
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348,False
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348,False
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348,False

In [17]:
df['On_N_Line'].value_counts(normalize=True)

On_N_Line
False    0.870441
True     0.129559
Name: proportion, dtype: float64

In [18]:
#using a lambda function
#lambda is an anonymous function
# x represents each value in the LINENAME column
df['On_N_Line'] = df['LINENAME'].map(lambda x: 'N' in x)
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,True
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,True
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,True
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,True
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,True
...,...,...,...,...,...,...,...,...,...,...,...,...
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348,False
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348,False
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348,False
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348,False
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348,False

In [19]:
#checking whether a string contains a string
df['On_N_Line']= df['LINENAME'].str.contains('N', regex=False)
df['On_N_Line']

0          True
1          True
2          True
3          True
4          True
          ...
197620    False
197621    False
197622    False
197623    False
197624    False
Name: On_N_Line, Length: 197625, dtype: bool

##Transforming columns
#Cleaning column names

In [20]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               ',
       'On_N_Line'],
      dtype='object')

In [21]:
# removing the whitespace after EXITS column
[col.strip() for col in df.columns]

['C/A',
 'UNIT',
 'SCP',
 'STATION',
 'LINENAME',
 'DIVISION',
 'DATE',
 'TIME',
 'DESC',
 'ENTRIES',
 'EXITS',
 'On_N_Line']

In [22]:
df.columns.str.strip()

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'On_N_Line'],
      dtype='object')

In [23]:
df.columns.map(lambda x: x.strip())

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'On_N_Line'],
      dtype='object')

#Modifying the columns

In [24]:
#reassign df.columns
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'On_N_Line'],
      dtype='object')

#Renaming columns

In [25]:
df.rename(columns={'C/A': 'CONTROL_AREA'}, inplace=True)

In [26]:
#dataframe was not automatically transformed by the change above
df

,CONTROL_AREA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,True
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,True
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,True
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,True
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,True
...,...,...,...,...,...,...,...,...,...,...,...,...
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348,False
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348,False
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348,False
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348,False
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348,False

In [27]:
#For the change to stick use inplace=True
df.rename(columns={'C/A': 'CONTROL_AREA'}, inplace=True)
df

,CONTROL_AREA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,True
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,True
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,True
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,True
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,True
...,...,...,...,...,...,...,...,...,...,...,...,...
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348,False
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348,False
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348,False
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348,False
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348,False

#Dropping columns

In [28]:
df.columns

Index(['CONTROL_AREA', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION',
       'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS', 'On_N_Line'],
      dtype='object')

In [29]:
#Original dataframe remains unchanged
df.drop('DESC',  axis=1)

,CONTROL_AREA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,On_N_Line
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,6736067,2283184,True
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,6736087,2283188,True
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,6736105,2283229,True
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,6736180,2283314,True
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,6736349,2283384,True
...,...,...,...,...,...,...,...,...,...,...,...
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,5554,348,False
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,5554,348,False
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,5554,348,False
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,5554,348,False
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,5554,348,False

In [30]:
#Dropping a row
df.drop(3).head() #first five rows

,CONTROL_AREA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,True
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,True
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,True
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,True
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425,True

In [31]:
#permanently drop the column Desc
df.drop('DESC', axis=1, inplace=True)
df

,CONTROL_AREA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,On_N_Line
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,6736067,2283184,True
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,6736087,2283188,True
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,6736105,2283229,True
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,6736180,2283314,True
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,6736349,2283384,True
...,...,...,...,...,...,...,...,...,...,...,...
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,5554,348,False
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,5554,348,False
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,5554,348,False
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,5554,348,False
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,5554,348,False

In [ ]:
#OR
df.drop('DESC',axis= 1)
df.head()

#Changing column types

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197625 entries, 0 to 197624
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CONTROL_AREA  197625 non-null  object
 1   UNIT          197625 non-null  object
 2   SCP           197625 non-null  object
 3   STATION       197625 non-null  object
 4   LINENAME      197625 non-null  object
 5   DIVISION      197625 non-null  object
 6   DATE          197625 non-null  object
 7   TIME          197625 non-null  object
 8   ENTRIES       197625 non-null  int64
 9   EXITS         197625 non-null  int64
 10  On_N_Line     197625 non-null  bool
dtypes: bool(1), int64(2), object(8)
memory usage: 15.3+ MB

In [34]:
#checking datatype of a single column
print(df['ENTRIES'].dtype)

int64

In [33]:
df.loc[:5, 'ENTRIES'].astype(int)

0    6736067
1    6736087
2    6736105
3    6736180
4    6736349
5    6736562
Name: ENTRIES, dtype: int64

In [35]:
#using .map instead
df.loc[:5, 'ENTRIES'].map(int)

0    6736067
1    6736087
2    6736105
3    6736180
4    6736349
5    6736562
Name: ENTRIES, dtype: int64

In [36]:
#how to change datatype
#not necessary already an integer
df['ENTRIES'] = df['ENTRIES'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197625 entries, 0 to 197624
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CONTROL_AREA  197625 non-null  object
 1   UNIT          197625 non-null  object
 2   SCP           197625 non-null  object
 3   STATION       197625 non-null  object
 4   LINENAME      197625 non-null  object
 5   DIVISION      197625 non-null  object
 6   DATE          197625 non-null  object
 7   TIME          197625 non-null  object
 8   ENTRIES       197625 non-null  int64
 9   EXITS         197625 non-null  int64
 10  On_N_Line     197625 non-null  bool
dtypes: bool(1), int64(2), object(8)
memory usage: 15.3+ MB

##Converting Dates

In [37]:
df['DATE'].head()

0    08/25/2018
1    08/25/2018
2    08/25/2018
3    08/25/2018
4    08/25/2018
Name: DATE, dtype: object

In [38]:
#converting strings to datetime objects
pd.to_datetime(df['DATE'])

0        2018-08-25
1        2018-08-25
2        2018-08-25
3        2018-08-25
4        2018-08-25
            ...
197620   2018-08-31
197621   2018-08-31
197622   2018-08-31
197623   2018-08-31
197624   2018-08-31
Name: DATE, Length: 197625, dtype: datetime64[ns]

In [ ]:
#Selecting just the first date entry
df['DATE'].iloc[0]

In [40]:
pd.to_datetime(df['DATE'], format = '%m/%d/%Y').head()

0   2018-08-25
1   2018-08-25
2   2018-08-25
3   2018-08-25
4   2018-08-25
Name: DATE, dtype: datetime64[ns]

In [39]:
#Changing the whole dataframe's DATE TO DATETIME
df['DATE'] = pd.to_datetime(df['DATE'])
df.head()

,CONTROL_AREA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,On_N_Line
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,00:00:00,6736067,2283184,True
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,04:00:00,6736087,2283188,True
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,08:00:00,6736105,2283229,True
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,12:00:00,6736180,2283314,True
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,16:00:00,6736349,2283384,True

In [41]:
#Make a sample of rows so we can see the dates
date_sample = df['DATE'].sample(n=10, random_state=0)
date_sample

91546    2018-08-30
75472    2018-08-31
151239   2018-08-30
77535    2018-08-25
73591    2018-08-27
10204    2018-08-28
51946    2018-08-27
129569   2018-08-26
10655    2018-08-25
11334    2018-08-30
Name: DATE, dtype: datetime64[ns]

#Applying datetime methods

In [42]:
#Finding name of the day of the week
date_sample.dt.day_name()

91546     Thursday
75472       Friday
151239    Thursday
77535     Saturday
73591       Monday
10204      Tuesday
51946       Monday
129569      Sunday
10655     Saturday
11334     Thursday
Name: DATE, dtype: object

In [43]:
#Rounding to the nearest seven days
date_sample.dt.round('7D')

91546    2018-08-30
75472    2018-08-30
151239   2018-08-30
77535    2018-08-23
73591    2018-08-30
10204    2018-08-30
51946    2018-08-30
129569   2018-08-23
10655    2018-08-23
11334    2018-08-30
Name: DATE, dtype: datetime64[ns]

##Setting a new index

In [44]:
#Setting the date as the index of the dataframe
df = df.set_index('DATE')
df.head()

,CONTROL_AREA,UNIT,SCP,STATION,LINENAME,DIVISION,TIME,ENTRIES,EXITS,On_N_Line
DATE,,,,,,,,,,
2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,00:00:00,6736067,2283184,True
2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,04:00:00,6736087,2283188,True
2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,08:00:00,6736105,2283229,True
2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,12:00:00,6736180,2283314,True
2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,16:00:00,6736349,2283384,True

In [45]:
#resetting an index so the current index becomes a column
df.reset_index()

,DATE,CONTROL_AREA,UNIT,SCP,STATION,LINENAME,DIVISION,TIME,ENTRIES,EXITS,On_N_Line
0,2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,00:00:00,6736067,2283184,True
1,2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,04:00:00,6736087,2283188,True
2,2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,08:00:00,6736105,2283229,True
3,2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,12:00:00,6736180,2283314,True
4,2018-08-25,A002,R051,02-00-00,59 ST,NQR456W,BMT,16:00:00,6736349,2283384,True
...,...,...,...,...,...,...,...,...,...,...,...
197620,2018-08-31,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05:00:00,5554,348,False
197621,2018-08-31,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09:00:00,5554,348,False
197622,2018-08-31,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,13:00:00,5554,348,False
197623,2018-08-31,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,17:00:00,5554,348,False
197624,2018-08-31,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,21:00:00,5554,348,False

##